.relative {
    position: relative;
}

.user-admin {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar {
    background-color: rgb(44, 147, 244);
}

.movies-container {
    padding: 50px;
}

.movie {
    padding: 15px;
}

.movie .info{
    margin: 0;
    padding-left: 10px;
    color: rgb(147, 146, 146);
    color: gainsboro;
}

.movie .tag {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: rgb(96, 94, 94);
}